html {
  font-size: 62.5%;
  width: 100%;
}

body {
  @include font($type-face-light, $font-weight);
  @include font-size($font-settings-body);
  color: $color-main-text;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  @include font($type-face-bold, $font-weight-bold);
}

h1 {
  @include font-size($font-settings-h1);
}

h2 {
  @include font-size($font-settings-h2-content);
}

h3,
h4,
h5,
h6 {
  @include font-size($font-settings-body);
}

img {
  max-width: 100%;
  height: auto;
  display: block;

  &.lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
  }

  &.loaded {
    opacity: 1;
    visibility: visible;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-main-text;

  &:hover,
  &:focus{
    color: $color-main-text;
    text-decoration: none;
  }
}

li{
  list-style: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}


.no-focus {
  *:focus {
    outline: 0;
    box-shadow: none;
  }
}
button{
  border: none;
  background: none;
}
button:focus { 
  outline: none; 
}

figure{
  margin: 0;
}

.mobile-only{
  display: none;
  @include sm-max(){
    display: block;
  }
}

.desktop-only{
  display: block;
  @include sm-max(){
    display: none;
  }
}

strong{
  font-weight: 700;
}

.content {
  @include ld-margin-bottom($space-m);
  margin-bottom: $space-m;
  
  @include md-min {
    margin-bottom: 80px;
    @include ld-margin-bottom(80px);
  }
  
  .page-template-default & {
    @include flexbox(column);
    @include full-width();
    margin-top: 150px;    
    
    .title-h1__text {
      color: $color-primary;
      text-align: left;
    }
    
    > * {
      @include make-grid-item(22, 2);
      @include ld-margin-bottom(20px);
      @include ld-margin-bottom(40px, 'h2');
      @include ld-margin-bottom(40px, 'h3');
      @include md-min {
        @include make-grid-item(20, 3);
      }
    }
    
    h2,
    h3 {
      @include ld-margin-bottom(20px, 'h3');
      @include ld-margin-bottom(20px, 'h4');
      @include ld-margin-bottom(20px, 'h5');
      @include ld-margin-bottom(20px, 'h6');
    }
    
    h3,
    h4,
    h5,
    h6 {
      @include ld-margin-bottom(0px, 'h4');
      @include ld-margin-bottom(0px, 'h5');
      @include ld-margin-bottom(0px, 'h6');
    }
    
    h3,
    h4,
    h5,
    h6 {
      @include ld-margin-bottom(0px, 'p');
    }

    h5,
    h6 {
      @include font($type-face-light, $font-weight);
      color: $color-blue-medium;
    }

    a {
      color: $color-blue-sky;
    
      &:hover,
      &:focus{
        color: $color-main-text;
        text-decoration: none;
      }
    }
  }
}

.blue {
  background-color: $color-blue-sky;
  color: $color-white;
}

.transition { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: $color-blue-sky;
  transform: translateX(-100%);
  display: block;
  z-index: 1000000;
}

.is-animating-b {
  background-color: $color-blue-sky;
}

.end-transition-out { 
  position: absolute;
  z-index: -1 !important;
}

.home .container {
  overflow: hidden;
}

/*[data-barba='wrapper'] {
  position: relative;
}
 
[data-barba='container'] {
  
} */
