.arrow-link {
    color: $color-blue-sky;
    @include make-grid-item(20);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    @include flexbox(row, wrap, center, center);
    @include font-size($font-settings-links);
    cursor: pointer;
    padding-left: 0;
    text-align: left;
    
    @include md-min {
        @include make-grid-item(20);
        margin-left: auto;
    }
    
    @include sm-min {
        text-align: center;
    }
    
    &:hover {
        color: $color-blue-sky;
    }
    
    &.category-title__link {
        text-align: left;

    }
    
    &__button-arrow {
        background-image: url('../../dist/svg/Arrow-Link.min.svg');
        background-position: left; /* Center the image */
        background-repeat: no-repeat;
        width: 30px;
        height: 10px;
        display: block;
        margin-left: 10px;
        transform: translateX(0);
        transition: transform 0.3s ease;
        
        .arrow-link:hover & {
            transform: translateX(10px);
            transition: transform 0.3s ease;
        }
        
        .blue &{
            background-image: url('../../dist/svg/Arrow-Link2.min.svg');
        }
    }

    .categories & {
        width: 100%;

        &__button-text {
            width: calc(100% - 45px);
        }
    }

    .blue & {
        color: $color-primary;
    }
}