.categories {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-mmm);
    
    @include md-min {
        @include ld-margin-bottom($space-l);
    }
}

.category-title {
    position: relative;
    top: 0;
    overflow: hidden;
    padding-right: 10px;
    @include ld-margin-bottom($space-m);
    
    > * {
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;
        
        @include lg-min { 
            opacity: 0;
            transform: translateY(300px);
        }
    }
    @include make-grid-item-absolute(22, 2);

    @include md-min {
        @include make-grid-item-absolute(20, 3);
        position: relative;
    }
    
    @include lg-min {
        @include make-grid-item-absolute(5, 3);
        position: absolute;
        @include ld-margin-bottom(0);
    }

    .categories:nth-child(2) & {
        > * {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    &__icon {
        @include ld-margin-bottom($space-mm);

        #icon-klassische-fluege,
        #icon-big-mountain-flights,
        #icon-streckenfliegen,
        #icon-flug-date {
            path,
            circle {
                stroke: $color-primary;
            } 
        }

        #icon-streckenfliegen #Subtraction_4 {
            fill: $color-primary;
        }
    }
    
    &__pretitle {
        @include font-size($font-settings-tiles);
        @include ld-margin-bottom($space-sm);
    }
    
    &__title {
        @include font-size($font-settings-category-item-title);
        @include font($type-face-bold, $font-weight-bold);
        @include ld-margin-bottom($space-mm);
    }

    &__link {
        height: auto;
    }
    
    .is-sticky & {
        @include make-grid-item-absolute(20, 3);
        position: relative;
        top: auto;
        
        > * {
            transform: translateY(0px);
            opacity: 1;
            transition: none;
            
            @include lg-min {
                transition: opacity 0.3s ease-in, transform 0.3s ease-in;
            }
        }
        
        @include lg-min {
            position: fixed;
            top: 130px;
            @include make-grid-item-absolute(5, 3);
        }
    }
    
    .is-out &,
    .is-out.categories:nth-child(2) & {
        > * {
            transform: translateY(-300px);
            opacity: 1;
            transition: none;
            
            @include lg-min { 
                transition: opacity 0.3s ease-in, transform 0.3s ease-in;
                opacity: 0;
            }
        }
    }
    
    .is-out-last &{
        left: 100% / $col-count * 3 !important;
        width: 100% / $col-count * 5 !important;
        position: relative;
        top: auto;
        bottom: 0;

        @include lg-min { 
            position: absolute;
        }
    }
}

.category-items-wrapper {
    @include make-grid-item(22, 2);

    @include md-min {
        @include make-grid-item(20, 3);
    }
    
    @include lg-min {
        @include make-grid-item(13, 10);
    }
}

.category-item {
    @include ld-margin-bottom($space-m);
    
    @include md-min {
        @include ld-margin-bottom($space-l);
    }

    &__image-wrapper {
        @include ld-margin-bottom($space-mm);
        img {
            width: 100%;
        }
    }

    &__title-wrapper {
        @include ld-margin-bottom($space-sm);
    }
    
    &__title {
        @include font-size($font-settings-category-title);
        @include font($type-face-bold, $font-weight-bold);
        @include ld-margin-bottom($space-sm);
    }
    
    &__sevice-list {
        @include flexbox();
        @include ld-margin-bottom($space-s);
        
        @include md-min {
            @include ld-margin-bottom($space-sm);
        }
    }
    
    &__service-list-item {  
        @include flexbox(row, wrap, flex-start, center);
        padding-right: 45px;
        
        &:last-child {
            padding-right: 0px;
        }
    }
    
    &__icon {
        margin-right: 10px;
        
        &--mountain {
            margin-bottom: 4px;
        }
    }

    &__places {
        @include ld-margin-bottom($space-sm);
    }
    
    &__places-bold {
        @include font($type-face-bold, $font-weight-bold);
        padding-right: 10px;
    }
    
    &__places-item {
        padding-right: 10px;
        white-space: nowrap;
        
        &:after {
            content: '';
            background-image: url('../svg/Icon-Gebiet.min.svg');
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            width: 17px;
            height: 17px;
            display: inline-block;
        }
        
        &:hover,
        &:focus,
        &:active {
            color: $color-blue-sky;
            
            &:after {
                animation: icon-place 2s linear 0s infinite;
            }
        }
    }

    &__text {
        @include ld-margin-bottom(20px);
        
        @include md-min {
            @include ld-margin-bottom(40px);
        }
    }
    
    &__big-text {
        @include font($type-face-bold, $font-weight-bold);
        @include font-size($font-settings-h3);
    }
}

@keyframes icon-place {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-5px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
  }