.footer {
    @include full-width();
    @include flexbox(column);
    margin-bottom: 100px;
    
    &__top,
    &__bottom {
        @include flexbox();
        width: 100%;
    }

    &__top {
        @include ld-margin-bottom(50px);
    }
    
    &__bottom {
        @include font-size($font-settings-links);
        @include make-grid-item(20, 3);
        @include flexbox(row, wrap, space-between, flex-start);
    }
    
    &__left {
        @include make-grid-item(6, 3);
    }
    
    &__center {
        @include make-grid-item(9, 1);
    }
    
    &__right {
        @include make-grid-item(6, 1);
    }
    
    &__info-right {
        text-align: right;
    }
    
    &__bottom-ul {
        @include flexbox();
    }
    
    &__bottom-left {
        @include flexbox(row, wrap, flex-start, flex-start);
    }

    &__h4 {
        @include font($type-face, $font-weight-bold);
        @include ld-margin-bottom(20px);
    }

    &__center-item {
        @include ld-margin-bottom(20px); 
    }
    
    &__center-nav-link {
        @include font($type-face, $font-weight-bold);
    }

    &__bottom-nav-link {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid $color-primary;
    }

    &__left-item {
        @include ld-margin-bottom(5px);
    }

    &__copyright {
        padding-right: 10px;
    }

    a:hover,
    a:focus,
    a:active {
        color: $color-blue-sky;
    }
}