.footer {
    @include full-width();
    @include flexbox(column);
    margin-bottom: $space-m;
    
    @include md-min {
        margin-bottom: $space-l;
    }
    
    &__top,
    &__bottom {
        @include flexbox();
    }
    
    &__top {
        @include ld-margin-bottom($space-m);
        width: 100%;
    }
    
    &__bottom {
        @include font-size($font-settings-links);
        @include make-grid-item(22, 2);
        @include flexbox(row, wrap, space-between, flex-start);
        
        @include md-min {
            @include make-grid-item(20, 3);
        }
    }
    
    &__left {
        @include make-grid-item(22, 2);
        @include ld-margin-bottom(20px);
        
        @include md-min {
            @include ld-margin-bottom(0px);
            @include make-grid-item(5, 3);
        }
    }
    
    &__center {
        @include make-grid-item(22, 2);
        @include ld-margin-bottom(20px);
        @include md-min {
            @include make-grid-item(8, 1);
            @include ld-margin-bottom(0px);
        }
    }
    
    &__right {
        @include make-grid-item(22, 2);
        @include md-min {
            @include make-grid-item(5, 1);
        }
    }
    
    &__info-right {
        text-align: right;

        .blue & {
            a {
                color: $color-white;

                &:hover,
                &:focus,
                &:active {
                    color: $color-primary;
                }
            }
        }
    }
    
    &__bottom-ul {
        @include flexbox();
    }
    
    &__bottom-left {
        @include flexbox(row, wrap, flex-start, flex-start);
    }

    &__h4 {
        @include font($type-face-bold, $font-weight-bold);
        @include ld-margin-bottom($space-sm);
    }

    &__center-item,
    &__center-nav .footer__nav-item-level-0,
    &__center-nav .footer__nav-item-level-1 {
        @include ld-margin-bottom($space-sm); 
    }
    
    &__center-nav-link,
    &__center-nav .footer__link-level-0,
    &__center-nav .footer__link-level-1 {
        @include font($type-face-bold, $font-weight-bold);
        .blue &{
            color: $color-white;

            &:hover,
            &:focus,
            &:active {
                color: $color-primary;
            }
        }
    }

    &__bottom-nav-link,
    &__service-nav .footer__link-level-0,
    &__service-nav .footer__link-level-1 {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid $color-primary;
        
        .blue & {
            border-left: 1px solid $color-white;
            color: $color-white;

            &:hover,
            &:focus,
            &:active {
                color: $color-primary;
            }
        }
    }

    &__service-nav .footer__nav-item-level-0 {
        @include ld-margin-bottom(0);
    }

    &__left-item,
    &__nav-item-level-0 {
        @include ld-margin-bottom(5px);

        a {
            .blue &{
                color: $color-white;
            
                &:hover,
                &:focus,
                &:active {
                    color: $color-primary;
                }
            }
        }
    }

    &__right-item {
        .blue &{    
            a {
                color: $color-white;

                &:hover,
                &:focus,
                &:active {
                    color: $color-primary;
                }
            }
        }
    }

    &__copyright {
        padding-right: 10px;
    }

    a:hover,
    a:focus,
    a:active {
        color: $color-blue-sky;
    }

    .blue &{
        color: $color-white;
    }
}