.header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 70px;  
    top: 0;
    background-color: $color-white;
    
    @include xl-min { 
        height: 125px;
    }

    &--overHero {
        background-color: transparent;
    }
    
    .blue & {
        background-color: $color-blue-sky;
    }
    
    .logo__svg {
        fill: $color-primary;

        .blue & {
            fill: $color-white;
        }
    }
}   

.header__logo-container{
    z-index: 1000;
    top: 10px;
    left: 25px;
    position: fixed;
    z-index: 1111111;
    
    @include md-min {
        left: 40px;
    }
    
    @include xl-min { 
        top: 30px;
    }

    .header--overHero &,
    &--white,
    .menu-open & {
        overflow: hidden;
        z-index: 10000;
        .logo__svg {
            fill: $color-white;
        }
    }
}

.header__hamburger {
    position: fixed;
    right: 30px;
    top: 30px;
}