.header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 125px;
    top: 0;
    background-color: $color-white;

    &--overHero {
        background-color: transparent;
    }
    
    .blue & {
        background-color: $color-blue-sky;
    }
    
    .logo__svg {
        fill: $color-primary;

        .blue & {
            fill: $color-white;
        }
    } 
}   

.header__logo-container{
    z-index: 1000;
    top: 30px;
    left: 40px;
    position: fixed;
    z-index: 1111111;
    .header--overHero &,
    &--white,
    .menu-open & {
        overflow: hidden;
        z-index: 10000;
        .logo__svg {
            fill: $color-white;
        }
    }
}

.header__hamburger {
    position: fixed;
    right: 40px;
    top: 30px;
}