.image-tiles-wrapper {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-mmm);
    
    @include md-min {
        @include ld-margin-bottom($space-xl);
    }
}

.image-tiles {
    @include make-grid-item(22, 2);
    @include ld-margin-bottom($space-m);
    position: relative;
    
    @include md-min {
        @include make-grid-item(9, 3);
        @include ld-margin-bottom($space-l);
    }
    
    &__title {
        @include ld-margin-bottom($space-sm);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);

        @include md-min {
            @include ld-margin-bottom($space-mm);
        }
    }
    
    &__subtitle {
        @include ld-margin-bottom($space-sm);
    }
    
    &__link {
        margin-left: 0;
        width: 100%;
        @include flexbox(row, wrap, flex-start, center);
        @include ld-margin-bottom($space-mm);
    }

    &:nth-of-type(-n + 2) {
        margin-top: $space-m;
        
        @include md-min {
            margin-top: $space-mmm;
        }
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(22, 2);

        @include md-min {
            @include make-grid-item(9, 2);
        }
    }
}