.image-tiles-wrapper {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-xl);
}

.image-tiles {
    @include make-grid-item(9, 3);
    @include ld-margin-bottom($space-l);
    position: relative;
    
    &__title {
        @include ld-margin-bottom($space-mm);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);
    }
    
    &__subtitle {
        @include ld-margin-bottom($space-sm);
    }
    
    &__link {
        margin-left: 0;
        width: 100%;
        @include flexbox(row, wrap, flex-start, center);
        @include ld-margin-bottom($space-mm);
    }

    &:nth-of-type(-n + 2) {
        margin-top: 60px;
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(9, 2);
    }
}