.info-tile-wrapper {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-xl);
} 

.info-tile {
    @include make-grid-item(20, 3);
    @include ld-margin-bottom(60px);

    @include md-min {
        @include make-grid-item(9, 3);
    }
    
    &:nth-of-type(-n + 2) {
        margin-top: 60px;
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(20, 3);
        
        @include md-min {
            @include make-grid-item(9, 2);
        }
    }
    
    &__icon {
        @include ld-margin-bottom($space-mm);

        svg path {
            fill: $color-primary !important; 
            stroke: $color-primary !important;
        }

        .weather path,
        .ga path,
        .point path {
            fill: none !important;
        }

        .point circle,
        .ga circle {
            fill: $color-primary;
        }
    }
    
    &__title {
        @include ld-margin-bottom($space-mm);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);
    }
}