.layout-bg {
    @include ld-margin-bottom($space-m);
    background-color: $color-primary;
    padding-top: $space-m;
    padding-bottom: $space-m;
    color: $color-white;
    
    @include md-min {
        padding-top: 145px;
        padding-bottom: 145px;
        @include ld-margin-bottom(145px);
    }
    
    a {
        color: $color-white;
    }
    
    &__inner {
        @include flexbox();
        @include full-width();

        .title-h2__preline,
        .title-h2__title{
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    &__img-wrapper {
        @include make-grid-item(5, 3);
    }
    
    &__text-wrapper {
        @include make-grid-item(14, 1);
    }

    .blue &{
        background-color: transparent;
        padding-top: 0;
    }
}