.layout-content-width {
    @include flexbox(column);
    @include full-width();
    @include ld-margin-bottom(145px);
    
    &:first-child {
        margin-top: 150px;
    }
    
    p:not(.title-h2__preline) {
        @include make-grid-item(22, 2);
        @include ld-margin-bottom(40px);
        
        @include md-min {
            @include make-grid-item(20, 3);
        }
    }
    
    &__links {
        @include make-grid-item(22, 2);
        @include flexbox();

        @include md-min {
            @include make-grid-item(20, 3);
        }
    }

    &__link {
        width: auto;
        margin-right: 100% / 20 * 1;
        margin-left: 0;
    }
}