.logo {
    &__svg {
        max-width: 90%;

        @include md-min {
            max-width: auto;
        }
    }

    &__paragliding {
        opacity: 0;
        @include md-min {
            opacity: 1;
        }
    }
}   