.nav{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 100vh;
    background: $color-blue-sky;
    display: block;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.4s ease-out;
    
    @include xl-min {
        right: 40px;
        left: auto;
        top: 50px;
        height: auto;
        display: block;
        background: transparent;
        transform: translateY(0);
        overflow: visible;
    }

    &__list {
        @include flexbox(column, wrap, flex-start, center);
        margin-top: 110px;
        
        @include xl-min {
            @include flexbox(row, wrap, flex-end, flex-start);
            margin-top: 0;
        }
    }

    &__item-level-0 {
        margin-left: 0px;
        margin-bottom: 40px;
        text-align: center;
        
        @include xl-min { 
            margin-left: 30px;
            margin-bottom: 0px;
            text-align: left;
        }

        > a {
            color: $color-primary;
            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0; 
                width: 0px;
                height: 2px;
                margin: 2px 0 0;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                background-color: currentColor;
            }
            .header--overHero &,
            .nav--white &,
            .blue &,
            .menu-open &{
                color: $color-white;
            }
        }    

        &:hover > a,
        &.active > a,
        &.nav__item--active > a,
        .menu-open & > a {
            cursor: pointer;
            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }
        }

        &:hover,
        &:focus,
        &.active {
            .nav__level-1 { 
                height: auto;
                overflow: visible;
                padding: 20px;
            }
            .nav__item-level-1 {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__level-1 {
        position: relative;
        top: 0px;
        height: auto;
        overflow: hidden;
        width: auto;
        background-color: transparent;
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: auto;
        text-align: center;
        
        @include xl-min {
            top: 30px;
            margin-left: -20px;
            margin-bottom: 0px;
            margin-top: 0px;
            background-color: $color-highlight;
            position: absolute;
            height: 0;
            min-width: calc(100% + 40px);
            text-align: left;
            padding: 0;
        }
        
        .blue & {
            background-color: $color-primary;
        }
    }
    
    &__item-level-1 {
        margin-top: 15px;
        opacity: 1;
        transition: none;
        transform: translateY(0px);
        cursor: pointer;
        
        &:first-child {
            margin-top: 0;
        }
        
        @include xl-min { 
            transition: all 0.3s ease-in;
            opacity: 0;
            transform: translateY(-10px);
        }

        > a {
            color: $color-white;
            white-space: nowrap;
            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 0px;
                height: 2px;
                margin: 2px 0 0;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                background-color: currentColor;
            }
        }    

        &:hover > a,
        &.current > a,
        &.active > a { 
            cursor: pointer;
            &:before,
            &:after {
                width: 100%;
                opacity: 1;
            }
        }
    }

    &.navigation--in {
        transform: translateY(0);
        transition: transform 0.4s ease-in;
    }
}