.nav{
    right: 40px;
    top: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;

    &__list {
        @include flexbox(row, wrap, flex-end, flex-start);
    }

    &__item-level-0 {
        margin-left: 30px;
        > a {
            color: $color-primary;
            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0; 
                width: 0px;
                height: 2px;
                margin: 2px 0 0;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                background-color: currentColor;
            }
            
            .nav--white &,
            .blue &{
                color: $color-white;
            }
        }    

        &:hover > a,
        &.active > a,
        &.nav__item--active > a {
            cursor: pointer;
            &:before,
            &:after {
            width: 100%;
            opacity: 1;
            }
        }

        &:hover,
        &:focus,
        &.active {
            .nav__level-1 { 
                height: auto;
                overflow: visible;
                padding: 20px;
            }
            .nav__item-level-1 {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__level-1 {
        position: absolute;
        top: 30px;
        height: 0;
        overflow: hidden;
        width: auto;
        background-color: $color-highlight;
        margin-left: -20px;
        min-width: calc(100% + 40px);
        
        .blue & {
            background-color: $color-primary;
        }
    }
    
    &__item-level-1 {
        margin-top: 15px;
        opacity: 0;
        transition: all 0.3s ease-in;
        transform: translateY(-10px);
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }

        > a {
            color: $color-white;
            white-space: nowrap;
            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 0px;
                height: 2px;
                margin: 2px 0 0;
                transition: all 0.5s ease-in-out;
                opacity: 0;
                background-color: currentColor;
            }
        }    

        &:hover > a,
        &.nav__item--active > a,
        &.active > a { 
            cursor: pointer;
            &:before,
            &:after {
            width: 100%;
            opacity: 1;
            }
        }
    }
}