.scroll-element {
    @include full-width();
    @include flexbox();
    
    &__link{
        width: 100%;
        position: relative;
        padding-top: 9px;
        left: 100% / $col-count * 2;
        margin-left: 0;
        margin-bottom: $space-mm;
        
        @include md-min {
            padding-top: 9px;
            position: absolute;
            left: 100% / $col-count * 3;
            width: 100% / $col-count * 9;
            margin-bottom: 0;
        }
        
        @include xl-min {
            padding-top: 25px;
        }
        
        &--sticky {
            margin-left: 0;
           margin-bottom: 145px;
       }
    }
    
    &__title {
        @include font-size($font-settings-scroll-element-small);
        @include font($type-face-bold, $font-weight-bold);
        @include ld-margin-bottom($space-sm);
    }

    &__list {
        @include make-grid-item(22, 2);
        padding-top: 16px;
        
        @include md-min {
            @include make-grid-item(12, 11);
            padding-top: 0;
        }
    }
    
    &__list-item,
    &__list li {
        @include font-size($font-settings-scroll-element-big);
        @include font($type-face-bold, $font-weight-bold);
        @include ld-margin-bottom($space-sm);
        padding-left: 15px; 
        
        &:before {
            content:'...';
            position: absolute;
            left: 0;
            top: 0;
        }
        
        @include sm-min {
            padding-left: 30px; 
        }
        
        @include md-min {
            @include ld-margin-bottom(45px);
            padding-left: 60px; 
        }
    }

    &__button {
        color: $color-blue-sky;
        width: 100%;
        height: 20px;
        @include flexbox(row, wrap, flex-start, center);
        @include font-size($font-settings-links);
        padding-left: 0;
        cursor: pointer;
    }
    
    &__button-arrow {
        background-image: url('../../dist/svg/Arrow-Link.min.svg');
        background-position: left; /* Center the image */
        background-repeat: no-repeat;
        width: 30px;
        height: 10px;
        display: block;
        margin-left: 10px;
        margin-bottom: -2px;
        transform: translateX(0);
        transition: transform 0.3s ease;
        
        .scroll-element__link:hover & {
            transform: translateX(5px);
            transition: transform 0.3s ease;
        }
    }


    .layout-bg & {
        color: $color-white;
    }
}
