.service-nav {
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 95px;
    height: 26px;
    top: calc(100vh - 50px);
    left: 35px;
    z-index: 1;

    &__inner {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0px;
    }

    &__list {
        .contact {
            a {
                background: url('../svg/Icon-Kontakt-blue.min.svg') no-repeat left center;
                background-size: 25px auto;
                width: 25px;
                height: 25px;
                padding-left: 35px;
                margin-left: 0;
                color: $color-primary;

                .blue &,
                .menu-open & {
                    background: url('../svg/Icon-Kontakt.min.svg') no-repeat left center;
                    color: $color-white;
                }
            }
        }
    }

    &--white {
        z-index: 10000;
        .contact {
            a {
                background: url('../svg/Icon-Kontakt.min.svg') no-repeat left center;
                color: $color-white;
            }
        }
    }
}