.text-tiles-wrapper {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-xl);
}

.text-tiles {
    @include make-grid-item(9, 3);
    @include ld-margin-bottom($space-l);
    position: relative;

    &__icon {
        @include ld-margin-bottom($space-mm);

        svg path{
            stroke: $color-blue-dark !important;
            fill: $color-blue-dark !important;
        }

        .weather path,
        .ga path,
        .point path {
            fill: none !important;
        }

        .point circle,
        .ga circle {
            fill: $color-primary;
        }
    }
    
    &__title {
        @include ld-margin-bottom($space-mm);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);
    }

    &:nth-of-type(-n + 2) {
        margin-top: 60px;
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(9, 2);
    }

    .blue & &__title {
        color: $color-white;
    }

    .blue & &__text {
        color: $color-white;
    }

    .blue & &__icon {
        svg path{
            stroke: $color-white !important;
            fill: $color-white !important;
        }

        .weather path,
        .ga path,
        .point path {
            fill: none !important;
        }

        .point circle,
        .ga circle {
            fill: $color-blue-sky;
        }
    }
}