.text-tiles-wrapper {
    @include full-width();
    @include flexbox();
    @include ld-margin-bottom($space-m);

    @include md-min {
        @include ld-margin-bottom($space-xl);
    }
}

.text-tiles {
    @include make-grid-item(22, 2); 
    @include ld-margin-bottom($space-m);
    position: relative;
    
    @include md-min {
        @include ld-margin-bottom($space-l);
        @include make-grid-item(9, 3);
    }

    &__icon {
        @include ld-margin-bottom($space-sm);
        @include md-min {
            @include ld-margin-bottom($space-mm);
        }

        svg path{
            stroke: $color-blue-dark !important;
            fill: $color-blue-dark !important;
        }

        .weather path,
        .ga path,
        .point path,
        #icon-vor-dem-start path,
        #icon-manoever path,
        #icon-flug path,
        #icon-bilder path,
        #icon-fluggebiete path {
            fill: none !important;
        }

        .point circle,
        .ga circle {
            fill: $color-primary;
        }
    }
    
    &__title {
        @include ld-margin-bottom($space-sm);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);
        
        @include md-min {
            @include ld-margin-bottom($space-mm);
        }
    }

    &:nth-of-type(-n + 2) {
        margin-top: $space-m;
        
        @include md-min {
            margin-top: $space-mmm;
        }
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(22, 2);

        @include md-min {
            @include make-grid-item(9, 2);
        }
    }

    .blue & &__title {
        color: $color-white;
    }

    .blue & &__text {
        color: $color-white;
    }

    .blue & &__icon {
        svg path {
            stroke: $color-white !important;
            fill: $color-white !important;
        }

        #icon-bilder circle{
            stroke: $color-white !important;
            fill: none !important;
        }

        .weather path,
        .ga path,
        .point path {
            fill: none !important;
        }

        .point circle,
        .ga circle {
            fill: $color-blue-sky;
        }

        #icon-fluggebiete circle,
        #icon-manoever circle,
        #icon-flug circle {
            fill: $color-white !important;
            stroke: none;
        }
    }
}