.tile-blue-wrapper {
    @include full-width();
    @include flexbox(row, wrap, flex-start, stretch);
    @include ld-margin-bottom($space-xl);
} 

.tile-blue {
    @include make-grid-item(22, 2);
    @include ld-margin-bottom(60px);
    background-color: $color-blue-sky;
    color: $color-white;
    padding: 30px 45px 45px;
    
    @include md-min {
        @include make-grid-item(9, 3);
    }
    
    &:nth-of-type(-n + 2) {
        margin-top: $space-mm;
        
        @include md-min {
            margin-top: $space-mmm;
        }
    }
    
    &:nth-of-type(even) {
        @include make-grid-item(22, 2);

        @include md-min {
            @include make-grid-item(9, 2);
        }
    }
    
    &__icon {
        @include ld-margin-bottom($space-s);
        
        @include md-min {
            @include ld-margin-bottom($space-mm);
        }
        svg path {
            fill: none;  
            stroke: #fff;
        } 
    }
    
    &__title,
    h2 {
        @include ld-margin-bottom($space-s);
        @include font-size($font-settings-h3);
        @include font($type-face-bold, $font-weight-bold);
        
        @include md-min {
            @include ld-margin-bottom($space-mm);
        }
    }

    &__button,
    .textwidget a {
        color: $color-primary;
        width: 100%;
        height: 20px;
        @include flexbox(row, wrap, flex-start, center);
        @include font-size($font-settings-links);
        cursor: pointer;
        padding-left: 0;

        &:after {
            background-image: url('../../dist/svg/Arrow-Link2.min.svg');
            background-position: left; /* Center the image */
            background-repeat: no-repeat;
            content: '';
            width: 30px;
            height: 10px;
            display: block;
            margin-left: 10px;
            transform: translateX(0);
            transition: transform 0.3s ease; 
        }

        &:hover:after {
            transform: translateX(5px);
            transition: transform 0.3s ease;
        }

        .blue & {
           color: $color-blue-sky;
        }
    }

    .blue & {
        background-color: $color-primary;
    }
}

.blue .tile-blue__button-arrow,
.blue .textwidget a::after {
    background-image: url(../../dist/svg/Arrow-Link-white.min.svg);
}