.title-h1 {
    @include make-grid-item(14);
    
    &__text {
        @include font($type-face, $font-weight-bold);
        @include font-size($font-settings-h1);
        text-align: center;
        color: $color-white;
    }
} 

.title-h2 {
    @include full-width();
    @include ld-margin-bottom(60px);
    @include ld-margin-bottom(0, '.tiles-wrapper');
    
    &__preline {
        @include make-grid-item(20, 3);
        @include font-size($font-settings-pretitles);
    }
    
    &__title {
        @include make-grid-item(20, 3);
        @include font-size($font-settings-h2);
        @include font($type-face, $font-weight-bold);
    }

    .layout-bg & {
        color: $color-white;
    }
}