.title-h1 {
    @include make-grid-item(22);
    overflow: hidden;
    
    @include md-min {
        @include make-grid-item(14);
    }
    
    &__text {
        @include font($type-face-bold, $font-weight-bold);
        @include font-size($font-settings-h1);
        text-align: center;
        color: $color-white;
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.3s ease;
        
        .is-loaded & {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s ease 0.3s;
        }
    }

    &.site-404__title-h1 {
        .title-h1__text {
            opacity: 1;
            transform: translateY(0);
        }
    }
} 

.title-h2 {
    @include full-width();
    @include ld-margin-bottom(60px);
    @include ld-margin-bottom(0px, '.info-tile-wrapper');
    @include ld-margin-bottom(0px, '.tile-blue-wrapper');
    @include ld-margin-bottom(20px, '.layout-bg__text');
    @include ld-margin-bottom(0, '.tiles-wrapper');
    @include ld-margin-bottom(0, '.text-tiles-wrapper');
    @include ld-margin-bottom(0, '.image-tiles-wrapper');
    @include ld-margin-bottom(50px, '.insta-feed__feed');
    
    @include md-min {
        @include ld-margin-bottom(0px, '.tile-blue-wrapper');
        @include ld-margin-bottom(60px, '.info-tile-wrapper');
        @include ld-margin-bottom(60px, '.text-tiles-wrapper');
        @include ld-margin-bottom(60px, '.image-tiles-wrapper');
        @include ld-margin-bottom(60px, '.insta-feed__feed');
    }
    
    &__preline {
        @include make-grid-item(22, 2);
        @include ld-margin-bottom(10px);
        @include font-size($font-settings-pretitles);
        
        @include md-min {
            @include make-grid-item(20, 3); 
            @include ld-margin-bottom(20px);
        }
    }
    
    &__title {
        @include make-grid-item(22, 2);
        @include font-size($font-settings-h2);
        @include font($type-face-bold, $font-weight-bold);

        @include md-min {
            @include make-grid-item(20, 3);
        }
    }

    .layout-bg & {
        color: $color-white;
    }

    .blue &{
        color: $color-white;
    }

    &:first-of-type {
        margin-top: 150px; 

        .layout-bg &,
        .layout-centered & {
            margin-top: 0;
        }
    }
}
